# -*- python -*-
# Copyright (c) Aaron Gallagher <_@habnab.it>
# See COPYING for details.

import theresa
import twitter

from twisted.application import internet, service
from twisted.web.client import Agent, HTTPConnectionPool
from twisted.internet import reactor
import oauth2

consumer = oauth2.Consumer('...', '...')
token = oauth2.Token('...', '...')

class Theresa(theresa.TheresaProtocol):
    nickname = 'theresa'
    channel = '#theresa-test'

    def streamDelegate(self, data):
        if 'text' not in data:
            return
        self.twitDelegate(self.channels)(data)

    def signedOn(self):
        theresa.TheresaProtocol.signedOn(self)
        streamer.addDelegate(self.streamDelegate)

    def connectionLost(self, reason):
        streamer.removeDelegate(self.streamDelegate)

class TheresaFactory(theresa.TheresaFactory):
    protocol = Theresa

application = service.Application("theresa")
pool = HTTPConnectionPool(reactor)
agent = Agent(reactor, pool=pool)
twitterInstance = twitter.Twitter(twitter.OAuthAgent(agent, consumer, token))
streamer = twitter.StreamPreserver(twitterInstance, 'user.json')
streamer.setServiceParent(application)
theresaFac = TheresaFactory(agent, twitterInstance)
internet.TCPClient('irc.esper.net', 5555, theresaFac).setServiceParent(application)
