body {
  background: #eee;
}

#content {
  white-space: pre-wrap;
  font-family: sans-serif;
  font-size: 0.9em;
}

#content div {
  background: #fff;
  margin: 0.25em 2%;
  width: 45%;
  clear: both;
  border: 1px #ccc solid;
  padding: 0.25em 0.5em;
  border-radius: 5px;
}

#content p {
  margin: 0;
}

#content p.system {
  font-style: italic;
  font-size: 0.8em;
}

#content .left {
  float: left;
}

#content .right {
  float: right;
  text-align: right;
}
